In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
from dstapi import DstApi

Create objects to interact with API of Denmark Statistics and display a summary table of the datasets informations for the GDP dataset:

In [2]:
gdp_dst = DstApi('NRHP')

t_gdp = gdp_dst.tablesummary(language='en')
display(t_gdp)

Table NRHP: 1-2.1.1 Production, GDP and generation of income by region, transaction, price unit and time
Last update: 2022-10-27T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,OMRÅDE,18,000,All Denmark,999,Outside regions,False
1,TRANSAKT,9,P1K,P.1 Output,B2A3GD,B.2g+B.3g Gross operating surplus and mixed in...,False
2,PRISENHED,4,V_T,"Current prices, (mill. DKK.)",LRG_C,"Pr. capita, 2010-prices, chained values, (1000...",False
3,Tid,29,1993,1993,2021,2021,True

Look up values (rows) that each variable (columns) can take:

In [3]:
for variable in t_gdp['variable name']:
    print(variable+':')
    display(gdp_dst.variable_levels(variable, language='en'))

OMRÅDE:

     id                           text
0   000                    All Denmark
1   084             Region Hovedstaden
2    01        Province Byen København
3    02      Province Københavns omegn
4    03          Province Nordsjælland
5    04              Province Bornholm
6   085                Region Sjælland
7    05           Province Østsjælland
8    06  Province Vest- og Sydsjælland
9   083              Region Syddanmark
10   07                   Province Fyn
11   08            Province Sydjylland
12  082             Region Midtjylland
13   09            Province Østjylland
14   10           Province Vestjylland
15  081             Region Nordjylland
16   11           Province Nordjylland
17  999                Outside regions

TRANSAKT:

        id                                               text
0      P1K                                         P.1 Output
1      P2D                       P.2 Intermediate consumption
2     B1GD                             B.1g Gross value added
3  D21X31D         D.21-D.31 Taxes less subsidies on products
4    B1GQD                       B.1*g Gross domestic product
5  D29X39D  D.29-D.39 Other taxes less subsidies on produc...
6    B1GFD        B.1GF Gross domestic product at factor cost
7      D1D                      D.1 Compensation of employees
8   B2A3GD  B.2g+B.3g Gross operating surplus and mixed in...

PRISENHED:

      id                                               text
0    V_T                       Current prices, (mill. DKK.)
1    V_C            Pr. capita. Current prices, (1000 DKK.)
2  LRG_T          2010-prices, chained values, (mill. DKK.)
3  LRG_C  Pr. capita, 2010-prices, chained values, (1000...

Tid:

      id  text
0   1993  1993
1   1994  1994
2   1995  1995
3   1996  1996
4   1997  1997
5   1998  1998
6   1999  1999
7   2000  2000
8   2001  2001
9   2002  2002
10  2003  2003
11  2004  2004
12  2005  2005
13  2006  2006
14  2007  2007
15  2008  2008
16  2009  2009
17  2010  2010
18  2011  2011
19  2012  2012
20  2013  2013
21  2014  2014
22  2015  2015
23  2016  2016
24  2017  2017
25  2018  2018
26  2019  2019
27  2020  2020
28  2021  2021

Look up the format of the dictionary of dataset parameters:

In [4]:
par_gdp = gdp_dst._define_base_params(language='en')

display(par_gdp)

{'table': 'nrhp',
 'format': 'BULK',
 'lang': 'en',
 'variables': [{'code': 'OMRÅDE', 'values': ['*']},
  {'code': 'TRANSAKT', 'values': ['*']},
  {'code': 'PRISENHED', 'values': ['*']},
  {'code': 'Tid', 'values': ['*']}]}

Define parameters dictionary to select only specified values (rows) of dataset:

In [5]:
par_gdp = {'table': 'nrhp',
 'format': 'BULK',
 'lang': 'en',
 'variables': [{'code': 'OMRÅDE', 'values': ['000']},
  {'code': 'TRANSAKT', 'values': ['B1GQD']},
  {'code': 'PRISENHED', 'values': ['LRG_T']},
  {'code': 'Tid', 'values': ['>1993<=2021']}]}

# Just took some random parameters: I'll fix it later
# !! Does real price in gdp dataset have same base year as in consumption dataset?

Download dataset using only specified parameters:

In [6]:
gdp = gdp_dst.get_data(params=par_gdp)

display(gdp.head(5))

,OMRÅDE,TRANSAKT,PRISENHED,TID,INDHOLD
0,All Denmark,B.1*g Gross domestic product,"2010-prices, chained values, (mill. DKK.)",1994,1403340
1,All Denmark,B.1*g Gross domestic product,"2010-prices, chained values, (mill. DKK.)",1995,1445828
2,All Denmark,B.1*g Gross domestic product,"2010-prices, chained values, (mill. DKK.)",1996,1487758
3,All Denmark,B.1*g Gross domestic product,"2010-prices, chained values, (mill. DKK.)",1997,1536272
4,All Denmark,B.1*g Gross domestic product,"2010-prices, chained values, (mill. DKK.)",1998,1570349

Renmaing columns:

In [7]:
gdp.rename(columns = {'OMRÅDE':'Area', 
                      'PRISENHED':'Price unit', 
                      'TID':'Year',
                      'INDHOLD':'GDP'}, inplace=True)
gdp.head(5)

,Area,TRANSAKT,Price unit,Year,GDP
0,All Denmark,B.1*g Gross domestic product,"2010-prices, chained values, (mill. DKK.)",1994,1403340
1,All Denmark,B.1*g Gross domestic product,"2010-prices, chained values, (mill. DKK.)",1995,1445828
2,All Denmark,B.1*g Gross domestic product,"2010-prices, chained values, (mill. DKK.)",1996,1487758
3,All Denmark,B.1*g Gross domestic product,"2010-prices, chained values, (mill. DKK.)",1997,1536272
4,All Denmark,B.1*g Gross domestic product,"2010-prices, chained values, (mill. DKK.)",1998,1570349

Dropping "TRANSAKT":

In [10]:
gdp.drop(['TRANSAKT', 'Area', 'Price unit'], axis='columns', inplace=True)
gdp.rename(columns = {'Year':'Consumption'}, inplace=True)
gdp = gdp.set_index('Consumption')
gdp.head(5)

                 GDP
Consumption
1994         1403340
1995         1445828
1996         1487758
1997         1536272
1998         1570349

In [11]:
#Traspose
gdp = gdp.T
gdp.head(5)

Consumption,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
GDP,1403340,1445828,1487758,1536272,1570349,1616643,1677217,1691023,1698909,1705536,...,1839290,1856457,1886520,1930714,1993384,2049632,2090410,2121630,2079312,2180277

We downloaded a dataset for "consumption choices" from DST, selecting only the necessary parameters. We import FU07 dataset while also skipping empty rows:

In [ ]:
filename = 'FU07.xlsx'
cop = pd.read_excel(filename, skiprows=2, skipfooter=2)
display(cop.head(50))

We drop NaN columns:

In [ ]:
drop_these = ['Unnamed: ' + str(num) for num in range(2)] # use list comprehension to create list of columns
cop.drop(drop_these, axis=1, inplace=True) # axis = 1 -> columns, inplace=True -> changed, no copy made
cop.head(10)

Renmaing consumption groups:

In [ ]:
cop.rename(columns = {'Unnamed: 2':'Consumption'}, inplace=True)
cop.head(5)

Dropping unimportant variables:

In [ ]:
# Build up a logical index I
I = cop.Consumption.str.contains('Household textiles')
cop.loc[I, :]

In [ ]:
cop = cop.loc[I == False] # keeping everything else
cop.head(10)

Reseting index:

In [ ]:
cop.reset_index(inplace = True, drop = True) # Drop old index too
cop.iloc[0:7,:]

In [ ]:
cop.loc[0,['Consumption']] = 'Total consumption'
cop.loc[1,['Consumption']] = 'Food'
cop.loc[2,['Consumption']] = 'Electricity, gas and other fuels'
cop.loc[3,['Consumption']] = 'Purchase of vehicles'
cop.loc[4,['Consumption']] = 'Transport services'
cop.loc[5,['Consumption']] = 'Personal care'
cop.loc[6,['Consumption']] = 'Insurance'

cop.head(10)

Next things to do: 

0) Solving problem about real prices base year: 
    Base year for real value calculation is different for gdp and cop datasets: should we use current prices instead? can we find other solutions? --> current prices
1) Drop remaining NaN rows in cop dataset - DONE
2) New index for cop dataset - (I think) DONE
3) Trasform gdp dataset: 
    - years as column names
    - only one row called gdp: drop other (?)
4) Merge datasets
5) Create new data as a result of running an operator on other data in the dataset: 
    (e.g. summing two rows)
6) Running a function on the dataset